# build output
dist/

# IDEA
.idea/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
package-lock.json

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
