layout: index
description: A enhanced toolkit of Mybatis to simplify the operation of CURD.
subtitle: Born To Simplify Development
comments: false
is_home: true
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code-fork
      h3.intro-feature-title 纯正血统
      p.intro-feature-desc 完全继承原生 Mybatis 的所有特性
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-leaf
      h3.intro-feature-title 最少依赖
      p.intro-feature-desc 仅仅依赖Mybatis以及Mybatis-Spring
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 无损性能
      p.intro-feature-desc 启动即会自动注入基本CURD，性能无损耗，直接面向对象操作
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 丰富功能
      p.intro-feature-desc 拥有通用Mapper、分页、自动代码等功能，更有各类插件供你使用