---
// WWAD
---

<div class="flex xl:flex-col not-content">
  <div class="w-full xl:flex-1">
    <div class="w-full p-4 text-sm leading-6">
      <div class="wwads-cn wwads-horizontal xl:wwads-vertical max-w-full xl:max-w-[12rem]" data-id="135" style="min-height: 0; margin-top: 0; border-width: 1px; border-radius: 0.5rem"></div>
    </div>
  </div>
</div>
