---
// WWAD + Google Adsense 侧边栏广告
export interface Props {
  showGoogle?: boolean;
}

const { showGoogle = false } = Astro.props;
---

<div class="flex xl:flex-col not-content">
  <!-- WWAD 广告 -->
  <div class="w-full xl:flex-1">
    <div class="w-full p-4 text-sm leading-6">
      <div
        class="wwads-cn wwads-horizontal xl:wwads-vertical max-w-full xl:max-w-[200px]"
        data-id="135"
        style="min-height: 0; margin-top: 0; border-width: 1px; border-radius: 0.5rem"
      >
      </div>
    </div>
  </div>

  <!-- Google Adsense 竖向广告 -->
  {
    showGoogle && (
      <div class="w-full xl:flex-1">
        <div class="w-full p-4 text-sm leading-6">
          <div class="google-ads-frame not-content">
            <ins
              class="adsbygoogle"
              style="display:inline-block;width:200px;height:200px"
              data-ad-client="ca-pub-4147143076931995"
              data-ad-slot="1866407052"
            />
            <script is:inline>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
      </div>
    )
  }
</div>

<style>
  .google-ads-frame {
    width: 100%;
    min-height: 0;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    box-sizing: border-box;
  }

  .google-ads-frame .adsbygoogle {
    display: inline-block;
    width: 200px;
    height: 200px;
  }
</style>
