---
import type { Props } from '@astrojs/starlight/props';
import Default from "@astrojs/starlight/components/Header.astro";
---

<Default {...Astro.props}>
    <slot/>
</Default>

<!-- Use Native Check Way -->
<div id="ad-block-notice" class="hidden fixed inset-0 bg-black bg-opacity-90 z-[99999]">
  <div class="m-auto p-5 bg-white rounded-lg text-center space-y-4">
    <button id="close-notice" class="absolute top-3 right-3 text-black text-white bg-transparent">×</button>
    <p class="text-center text-lg text-gray-700">我们的广告服务商并不跟踪您的隐私，为了支持本站的长期运营，请将我们的网站加入广告拦截器的白名单，谢谢！</p>
    <div class="flex justify-center gap-4">
      <a href="https://wwads.cn/page/end-user-privacy" target="_blank" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300 text-current no-underline hover:no-underline">查看隐私声明</a>
      <a href="https://wwads.cn/page/whitelist-wwads" target="_blank" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition duration-300 text-current no-underline hover:no-underline">查看加入白名单教程</a>
    </div>
  </div>
</div>
  
<script is:inline lang="js">
  const key = "adBlockNoticeClosed";

  function closeNotice() {
    sessionStorage.setItem(key, 'true');
    document.getElementById('ad-block-notice').classList.add('hidden');
    document.getElementById('ad-block-notice').classList.remove('flex');
  }
  document.getElementById("close-notice").addEventListener("click", closeNotice);

  function isNoopFunc(fn) {
    // 检查函数类型
    if (typeof fn !== 'function') return false;
    
    // 检查函数名称
    if (fn.name && fn.name !== 'noopFunc') return false;
    
    // 检查函数字符串表示
    if (fn.toString().includes('function noopFunc()')) return true;
    
    // 检查函数行为
    try {
        let start = performance.now();
        let result = fn();
        let duration = performance.now() - start;
        return result === undefined && duration < 1;
    } catch (e) {
        return false;
    }
  }
  function checkAdBlocker() {
    let adBlockNoticeClosed = sessionStorage.getItem(key) ?? false;
    if (adBlockNoticeClosed) {
      return;
    }

    if (window._AdBlockInit === undefined || isNoopFunc(_AdBlockInit)) {
      document.getElementById('ad-block-notice').classList.remove('hidden');
      document.getElementById('ad-block-notice').classList.add('flex');
    }
  }
  setInterval(checkAdBlocker, 3000);
</script>
