---
import type { Props } from '@astrojs/starlight/props';
import Default from "@astrojs/starlight/components/PageTitle.astro";
---

<Default {...Astro.props}>
    <slot/>
</Default>

<div class="wwads-cn wwads-horizontal max-w-full mt-0" data-id="135"></div>
