---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/PageTitle.astro";
---

<Default {...Astro.props}>
  <slot />
</Default>

<!-- WWAD -->
<div class="not-content">
  <div class="wwads-cn wwads-horizontal wwads-sticky" data-id="135" style="max-width:350px"></div>
</div>
<!-- <style>
  .page-wwads {
    width: 100% !important;
    height: 80px !important;
    min-height: 0 !important;
    margin: 0 !important;
  }
  .page-wwads .wwads-img img {
    height: 80px !important;
  }
  .page-wwads .wwads-poweredby {
    width: 40px !important;
    position: absolute !important;
    right: 25px !important;
    bottom: 3px !important;
  }
  .wwads-content .wwads-text,
  .page-wwads .wwads-text {
    height: 100% !important;
    padding-top: 5px !important;
    display: block !important;
  }
</style> -->
