---
import type { Props } from '@astrojs/starlight/props';
import Default from "@astrojs/starlight/components/PageTitle.astro";
---

<Default {...Astro.props}>
    <slot/>
</Default>

<div class="wwads-cn wwads-horizontal page-wwads" data-id="135"></div>

<style>
    .page-wwads{
      width:100%!important;
      min-height: 0;
      margin: 0;
    }
    .page-wwads .wwads-img img{
      width:80px!important;
    }
    .page-wwads .wwads-poweredby{
      width: 40px;
      position: absolute;
      right: 25px;
      bottom: 3px;
    }
    .wwads-content .wwads-text, .page-wwads .wwads-text{
      height: 100%;
      padding-top: 5px;
      display: block;
    }
</style>