---
import type { Props } from '@astrojs/starlight/props';
import Default from "@astrojs/starlight/components/PageSidebar.astro";
---

<div class="flex xl:flex-col not-content">
    <div class="w-full xl:flex-1">
        <div class="max-w-full xl:max-w-[22rem] w-full pt-4 px-5 text-sm leading-6">
            <div class="wwads-cn wwads-horizontal page-wwads border rounded-lg bg-transparent" data-id="135" style="min-height: 0; margin-top: 0;"></div>
        </div>
    </div>
</div>

<style>
    .page-wwads .wwads-img img {
        width: 90px !important;
    }

    .page-wwads .wwads-content .wwads-text {
        font-size: 12px !important;
        line-height: 1 !important;
    }

    .page-wwads .wwads-poweredby {
        margin-top: 0 !important;
    }
</style>

<Default {...Astro.props}>
    <slot/>
</Default>

