---
import type { Props } from '@astrojs/starlight/props';
import Default from "@astrojs/starlight/components/PageSidebar.astro";
---

<div class="not-content max-w-full xl:max-w-[18rem]">
  <div class="wwads-cn wwads-horizontal" data-id="135"></div>
</div>

<Default {...Astro.props}>
    <slot/>
</Default>
