---
// nothing
---

<p class="demo">
    <img src="/images/content/relationship-with-mybatis.png" alt="Relationship Between MyBatis and MyBatis-Plus"/>
</p>

<style>
    .demo {
        padding: 1rem 1.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
</style>
