---
import supportDbList from "@/config/support-db.json";
---

<div class="flex flex-wrap items-center justify-center dark:bg-gray-800 gap-2">
    {supportDbList.map(db => (
            <a href={db.url} target="_blank" rel="noopener noreferrer"
               class="w-1/6 min-w-[160px] border border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150 flex items-center justify-center gap-2 px-4 py-2 no-underline text-current hover:no-underline">
                <img src={db.logo} alt={db.name + " logo"} class="w-6 h-6">
                <span class="text-slate-700">{db.name}</span>
            </a>
    ))}
</div>
